
 body {
     width: 100%;
     height: 800px;
 }

 .crystal-image {
  width: 300px;
  height: 300px;
 }

 .bg {
    /* The image used */
    background-image: url("../images/olympics.PNG");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 /* Keep it simple - improvement would be to not display characters */
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}

  #right {
    letter-spacing: 3px;
  }

  .country-image {
    width: 300px;
    height: 300px;
  }

  .wrong { 
      text-transform: uppercase;
      font-size: 50px;
  }